<h1>Students </h1>
<table>
<thead>
	<tr>
	<th>School</th>
	<th>Rollnumber</th>
	<th>Name</th>
	<th>Address</th>
	<th>Phonenumber</th>
	<th>Email</th>
	<th colspan="3"></th>

	</tr>
</thead>
<tbody>
<% @students.each do |student| %>
<tr>
<td><%= student.school %></td>
<td><%= student.rollnumber %></td>
<td><%= student.name %></td>
<td><%= student.address %></td>
<td><%= student.phonenumber %></td>
<td><%= student.email %></td>
<td><%= link_to 'Show',student %></td>
<td><%= link_to 'Edit',edit_student_path(student)%></td>
<td><%= link_to "Destroy",student, method: :delete,data:{confirm:"Are you sure Delete"}%></td>
</tr>
</tbody>
<% end %>
</table>
<br>
<%= link_to 'New Student',new_student_path %>
